html * {
  font-family: 'ABeeZee', sans-serif;
}

body {
  margin: 0 auto;
}

button, input[type="submit"] {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 5px;
  background: rgb(68, 105, 106);
  color: white;
}

#search-box {
  font-size: 22px;
  border: none;
  border-bottom: 2px solid rgba(31, 146, 149, 0.2);
  padding: 10px;
  margin: 30px 10px;
}

#map {
  width: 250px;
  height: 250px;
  background: gray;
  margin: 10px 0;
}

input:focus, button:focus {
  outline: none;
}

header {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

header a {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
}

footer {
  padding: 20px;
  color: white;
  background: black;
}

footer span {
  font-size: 12px;
}

main {
  min-height: 70vh;
}

nav h1 {
  font-size: 18px;
}

.side-bar {
  width: 300px;
  position: fixed;
  padding: 0 20px;
}

.side-bar h1 {
  font-size: 18px;
  margin-bottom: 0px;
}

#weather-info {
  display: flex;
  align-items: center;
}

#weather-info img {
  margin-left: 10px;
}

.category {
  margin-right: 20px;
}

.search i {
  font-size: 18px;
}

.search input {
  font-size: 16px;
  padding: 3px;
}

a {
  text-decoration: none;
  color: rgb(133, 196, 94);
  cursor: pointer;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 30px;
}

.welcome img {
  width: 500px;
}

.welcome h2 {
  position: absolute;
  top: 200px;
  font-weight: normal;
  color: rgb(191, 167, 114);
}

.location-show {
  min-height: 100vh;
}

.inline * {
  display: inline-block;
}

.inline {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-content {
  margin-left: 260px;
  padding: 0 50px;
}

.photo-div {
  width: 160px;
  height: 160px;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}

.activities-list {
  height: 160px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
  background: rgb(240, 240, 240);
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.activities-list h3 {
  font-size: 24px;
  margin-top: 0;
  color: black;
}

.photo-div {
  float: left;
}

.category-text {
  color: rgb(44, 134, 109);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.activities-list:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.activity-show {
  padding: 50px;
}

.activity-show img {
  width: 300px;
}

.earth {
  width: 400px;
  height: 400px;
  margin-right: 50px;
  background: url(http://www.animateonline.org/stillsfull/flatearth03.jpg);
  border-radius: 50%;
  background-size: cover;
  box-shadow: inset 16px 0 40px 6px rgb(0, 0, 0), inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.earth-two {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 210px;
  }
}

.modal {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 20px 40px 20px;
  box-shadow: 5px 5px 5px grey;
  top: 15%;
  width: 500px;
  position: fixed;
  /*height: 400px;*/
  background: white;
  right: 28%;
  z-index: 1;
  text-align: right;
}

.modal i {
  font-size: 20px;
}

.modal a {
  text-align: left;
}

.modal-background {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

form {
  margin: 0 40px;
}

.modal textarea, input[type="text"], input[type="url"] {
  border: 1px solid lightgray;
  font-size: 16px;
  padding: 3px;
  width: 75%;
}

.modal textarea {
  resize: none;
  height: 80px;
  margin-top: 10px;
}

.modalheader {
  text-align: center;
}

.modal select {
  margin-right: 20px;
}

.modal input, select {
  margin-top: 10px;
}

.modalheader, .close {
  color: rgb(68, 105, 106);
}

/*MEDIA QUERY*/

@media only screen and (max-width: 767px){
    #earth {
      width: 200px;
      height: 200px;
    }
    header h1 {
      font-size: 40px;
    }
}
