html * {
  font-family: 'ABeeZee', sans-serif;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 15px;
  background: rgb(98, 144, 173);
  color: white;
}

#search-box {
  font-size: 26px;
  border: none;
  border-bottom: 2px solid rgb(191, 226, 248);
  padding: 10px;
}

#search-box::-webkit-input-placeholder {
  color: rgb(181, 216, 238) !important;
}

input:focus {
  outline: none;
}

body {
  margin: 0 auto;
}

header {
  text-align: center;
  font-size: 30px;
  padding: 2px;
  /*background: gray;*/
}

nav {
  width: 16%;
  height: 200px;
  background: rgb(230,230,230);
  border: 1px solid rgb(210,210,210);
  position: fixed;
}

.weather-div {
  width: 20%;
}

a {
  text-decoration: none;
  /*color: rgb(197, 221, 52);*/
  color: rgb(133, 196, 94);
  cursor: pointer;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 30px;
}

.welcome img {
  width: 500px;
}

.welcome h2 {
  position: absolute;
  top: 200px;
  font-weight: normal;
  color: rgb(191, 167, 114);
}

.location-show {
  display: flex;
  min-height: 100vh;
}

.inline * {
  display: inline-block;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content {
  padding: 50px;
  width: 80%;
}

.photo-div {
  width: 160px;
  height: 160px;
  background-position: center;
  background-size: cover;
  margin: 20px;
}

.activities-list {
  margin: 20px 0;
  border: 1px solid gray;
  display: flex;
  box-shadow: 5px 5px 5px gray;
}

.activity-show img {
  width: 300px;
}

nav {
  padding: 20px;
}

#earth {
  width: 400px;
	height: 400px;
  margin-right: 50px;
	background: url(http://www.animateonline.org/stillsfull/flatearth03.jpg);
	border-radius: 50%;
	background-size: 800px;
	box-shadow: inset 16px 0 40px 6px rgb(0, 0, 0),
		inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
	animation-name: rotate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 210px; }
}

.modal {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 5px 5px 5px grey;
  top: 25%;
  width: 500px;
  position: fixed;
  height: 300px;
  background: white;
  right: 30%;
  z-index: 1;
}
.modal-background {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
form{margin-left: 30px;
}
.modalheader{
  text-align: center;
}
input, select{
  margin-bottom: 5px;
}
