html * {
  font-family: 'ABeeZee', sans-serif;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 15px;
  background: lightgray;
  color: white;
}

#search-box {
  font-size: 26px;
  border: none;
  border-bottom: 2px solid lightgray;
  padding: 10px;
}

input:focus {
  outline: none;
}

body {
  margin: 0 auto;
}

header {
  text-align: center;
  font-size: 30px;
}

nav {
  width: 20%;
  background: lightgray;
}

a {
  text-decoration: none;
  color: rgb(197, 221, 52);
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.welcome img {
  width: 500px;
}

.welcome h2 {
  position: absolute;
  top: 200px;
  font-weight: normal;
}

.location-show {
  display: flex;
  height: 100vh;
}

.activity-show img {
  width: 200px;
}

.activities-list {
  padding: 30px;
}

/*#earth {
  width: 400px;
	height: 400px;
	background: url(http://www.animateonline.org/stillsfull/flatearth03.jpg);
	border-radius: 50%;
	background-size: 800px;
	box-shadow: inset 16px 0 40px 6px rgb(0, 0, 0),
		inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
	animation-name: rotate;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 210px; }
}*/
