<div class="location-show">
    <nav>
      <p>Current Weather</p>
      <div id=weather-info>
      </div>
    </nav>

    <div class="main-content">
        <div>
            <h1><i class="fa fa-map-marker" aria-hidden="true"></i> {{vm.location.name}}</h1>
              <button class="createactivity" ng-click="vm.addActivity()">Add Activity</button>
        </div>

        <div class="category" id="food">
            <select ng-model="vm.categoryFilter">
            <option value="">Select Category</option>
            <option value="Sightseeing">Sightseeing</option>
            <option value="Food">Food</option>
            <option value="Night Life">Night Life</option>
        </select>
            <div ng-repeat="activity in vm.activities | filter: {category: vm.categoryFilter}">
                <a>
                  <div class="activities-list">
                    <div class="photo-div" style="background-image: url('{{activity.photo_url}}')"></div>
                    <div>
                      <h3>{{activity.name}}</h3>
                      <p>{{activity.address}}</p>
                    </div>
                  </div>
                </a>
            </div>
        </div>
        <!-- <div data-ui-view></div> -->
    </div>

</div>

<!-- Comment: When I create div box images of the categories later. -->
<!-- <div>
  Filters:
  <span ng-click="vm.categoryFilter='Food'">Food</span>
</div>
<div class="category" id="food">
  <div ng-repeat="activity in vm.activities | filter: {category: vm.categoryFilter}">
    <p>{{activity.name}}</p>
  </div>
</div> -->
