<!-- <div class="category" id="food">
  <div ng-repeat="activity in vm.activities | foodCategory">
    <p>{{activity.name}}</p>
  </div>
</div>

<div class="category" id="hotels">
  <div ng-repeat="activity in vm.activities | hotelsCategory">
    <p>{{activity.}}</p>
  </div>
</div>

<div class="category" id="nightlife">
  <div ng-repeat="activity in vm.activities | nightlifeCategory">
    <p>{{activity.name}}</p>
  </div>
</div>

<div class="category" id="sightseeing">
  <div ng-repeat="activity in vm.activities | sightseeingCategory">
    <p>{{activity.name}}</p>
  </div>
</div>

<div class="category" id="cultural attractions">
  <div ng-repeat="activity in vm.activities | culturalCategory">
    <p>{{activity.name}}</p>
  </div>
</div> -->
